body{
    margin:0;
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: brown;
    padding:  10px 20px;
}
nav ul{
    list-style:none;
    margin:0;
    padding: 0;
    display: flex;
    gap:20px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color:#e4f6f6;
    text-decoration: none;
    font-weight: 500px;
    padding: 8px 12px;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color:lightcoral;
}
hr{
    margin:0;
    border: 0;
    border-top: 2px solid #ccc;
}
.container{
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    background-color: #ccc;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;

}
.input{
    width:100%;
    padding:12px;
    border:1px;
    font-size: 16px;
    border-radius:5px ;
    box-sizing: border-box;


}
textarea.input{
    min-height: 100px;
    resize: vertical;
}
.btn{
    width: 100%;
    padding: 12px;
    background-color: brown;
    border: none;
    border-radius: 6px;
    color:white;
    font-size:16px;
    cursor: pointer;
    margin-top:10px ;
}
.btn:hover{
      background-color:lightcoral;

}
.task-list{
    list-style: none;
    padding: 0;
    max-width:600;
    margin:auto
}
.task-item{
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-left:5px solid #4caf50;
    box-shadow:0 2px 5px rgba(0,0,0, 0.1);
    border-radius: 6px;
}
.task-tittle{
    font-weight: bold;
    font-size:28px;
    color:black;
    margin-bottom: 8px;
}
.task-des{
    color:gray;
    font-weight: lighter;
    font-family: sans-serif;
    }
    .delete{
    
        margin-top: 10px;
        padding:6px 10px;
        background-color: brown;
        color:#fff;
        border: none;
        border-radius: 4px;
        cursor:pointer;
        text-decoration: none;
        display: inline-block;
    }
    .delete:hover{
        background-color:crimson;
        
    }
    .update{
    
        margin-top: 10px;
        padding:6px 10px;
        background-color: rgb(40, 180, 59);
        color:#fff;
        border: none;
        border-radius: 4px;
        cursor:pointer;
        text-decoration: none;
        display: inline-block;
    }
    .update:hover{
        background-color:green;
        
    }